.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
  text-align: justify;
  line-height: 2em;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 500px) {

  /* no grid support? */
  .sidebar {
    float: left;
    width: 19.1489%;
  }

  .content {
    float: right;
    width: 79.7872%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
  }

}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}

.header {
  background-color: #a23131 ;
  color: #fff;
  width:  1200 em;
  height: 500 em;
  margin: 20px auto;
  max-width: calc(100% - 20px);
  padding: 10px;
}

.footer {
  background-color: #29c6cd ;

}

.containerbody {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch
}

.test{
  background-color: #bcdbdf;
align-items: center;
}

header {
width: 100%;
text-align: center;
color: black;
transition: .4s;
}
header:hover {
background: rgba(255,255,255,0.8);
color: #000;
}
h1 {
font-family: Moderne Sans, sans-serif;
text-align: center;
font-size: 2rem;
width: 100%;
letter-spacing: .5rem;
}
nav a {
text-decoration: none;
color: inherit;
padding: 1rem;
}

.naviga{
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  }

img{
  height: auto;
  max-width: 100%;
}

.bor{
  border-color: green;
  border-style: solid;
}

.color-nav{
  background-color: white;
}